@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
h1{
    font-family: 'Staatliches', cursive;
}
p{
    font-family: 'Rajdhani', sans-serif;
}
.carousel-inner{
    height: 100vh !important;
}
.nav-item a:hover{
    color: green;
}
.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}
/* media quary  */
@media only screen and (min-width: 992px) {
    .carousel-caption {
        bottom: 15rem !important;
    }
}